*.zip
**/FitNesseRoot/files/*
**/FitNesseRoot/FitNesse/*
**/FitNesseRoot/PageFooter/*
**/FitNesseRoot/PageHeader/*
**/FitNesseRoot/RecentChanges/*
**/FitNesseRoot/TemplateLibrary/*
node_modules
.idea
chromedriver
geckodriver
selenium-server-standalone-3.0.1.jar
