*.zip
**/FitNesseRoot/files/*
**/FitNesseRoot/FitNesse/*
**/FitNesseRoot/PageFooter/*
**/FitNesseRoot/PageHeader/*
**/FitNesseRoot/RecentChanges/*
**/FitNesseRoot/TemplateLibrary/*
node_modules
.idea
